Een web app om jouw gevoel te meten en dat van andere mensen. De applicatie is realtime en locatie gebonden. Bij het gebruik visualiseert de Moodly meteen waar iemand is en hoe die persoon zich daar voelt. 
</p>
<p>
Je kan ongeveer drie keer per dag aangeven hoe je je voelt en je kan altijd zien hoe andere mensen zich voelen in de real-time visualisatie.
</p>
Moodly is een open data applicatie om naast statistische gegevens over de stad, van mensen zelf te horen hoe ze zich voelen. Deze anonieme data is vrij en open toegankelijk voor iedereen. 