#{extends 'main.html'/}
#{set 'moreScripts'}
#{i18n/}
<script type="text/javascript" src="@{'/public/scripts/require.js'}"></script>
<script type="text/javascript" src="@{RequireJS.config()}"></script>
<script type="text/javascript" src="@{RequireJS.main()}"></script>
#{/}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12"">
			<div class="marketing">
				<i class="icon icon-moodly whitish hidden-sm"></i>
				<p class="punchline">&{'how_do_you_feel_today_question'}</p>
				<p class="today">- ${request.date.format('EEEE d MMMM yyyy')} -</small>
			</div>
		</div>
	</div>
</div>
<!-- ko if: ready() -->
<!-- ko if: !hasGeoEnabled() -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-warning alert-block">
				<h4>&{'geo.disabled'}</h4>
				<p>&{'geo.disabled_explanation'}</p>
			</div>
		</div>
	</div>
</div>
<!-- /ko -->
<!-- /ko -->
<!--
	map, voting and percentage bar
-->
<div class="container-fluid">
	<div class="row map-and-votes">
		<!-- 
			votes 
		-->
		<div class="col-12 col-sm-2 col-lg-2 col-push-10 col-sm-push-clear votes-span">
			<!-- ko if: ready() -->
				<!-- ko if: hasGeoEnabled() -->
					<!-- ko if: canVote() -->
					<div class="votes" data-bind="foreach: { data: moods, as: 'mood'}">
						<div class="vote col-lg-12 col-sm-12 col-3" data-bind="css : 'mood-' + mood">
							<i class="icon icon-huge" data-bind="css : 'icon-mood-'+mood, click : function(){ $root.vote($index())}"></i>
						</div>
					</div>
					<!-- /ko -->
				<!-- ko if: !canVote() -->
				<div class="thanks">
				<h3>&{'thanks_for_your_vote_title'}</h3>
				<p>&{'thanks_for_your_vote'}</p>
				</div>
				<!-- /ko -->
				
				<!-- /ko -->
				<!-- ko if: !hasGeoEnabled() -->
				<p>&{'geo.disabled_explanation'}</p>
				<!-- /ko -->
			<!-- /ko -->
			<!-- ko if: !ready() -->
			&{'loading'}
			<!-- /ko -->
		</div>
		<!-- 
			map 
		-->
		<div class="col-12 col-sm-10 col-lg-10 col-pull-2 col-sm-pull-clear map-span">
			<div class="map">
				<div id="map-canvas" style="height: 100%; width: 100%;"></div>
			</div>
			<div data-bind="foreach: markers.values()">
				<div data-bind="mapMarker : { map: $root.map, markerClusterer: $root.markerClusterer, location: $data }">
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- 
		percentage bar 
	-->
	<div class="row votes-percentage-bar">
		<div class="col-lg-12">
			<div class="progress" data-bind="foreach: moods">
				<div class="progress-bar" style="margin: 0; padding: 0" data-bind="style : { 
					width: $root.widthPercentages()[$index()] + '%'}, 
					css : 'progress-bar-'+$root.types()[$index()]
				"><span data-bind="text: $root.percentages.get($index())() + '%'"></span></div>
			</div>
		</div>
	</div>
</div>

<!--
	what the heck is moodly?
-->
<div class="container-fluid about-moodly">
	<div class="row-">
		<div class="col-lg-12 gray holder">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>&{'about_moodly_title'}</h1>
						<hr/>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-offset-4">
						<p>
							#{about1/}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
	what is moodly meter?
-->
<div class="container-fluid moodly-meter">
	<div class="row">
		<div class="col-lg-12 holder">
			<div class="container">
				<div class="row centered">
					<h1>&{'moodly_meter_title'}</h1>
				</div>
				<div class="row">
					<div class="col-lg-6">
					<p>
						#{moodly1/}
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
	moodly api?
<div class="container-fluid about-moodly">
	<div class="row">
		<div class="col-lg-12 gray holder">
			<div class="container">
				<div class="row centered">
					<h1>&{'about_moodly_api_title'}</h1>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<h1>&{'moodly_rest_title'}</h1>
						<hr/>
						<p>
							<code>
								GET		/measurements/percentages.json
							</code>
						</p>
					</div>
					<div class="col-lg-4">
						<h1>&{'moodly_websocket_title'}</h1>
						<hr/>
						<p>
							<code>
							WS     	/socket
							</code>
							<pre data-bind="foreach: { data: socketDataShortened(), as: 's'}">
								<code class="json" data-bind="text: s, highlight: true"></code>
							</pre>
						</p>
					</div>
					<div class="col-lg-4">
						<h1>&{'moodly_download_data_title'}</h1>
						<hr/>
						<p>
							<code>
								GET		/measurements/percentages.xls
							</code>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->
<!--
	footer 
-->
<div class="container-fluid footer">
	<div class="row">
		<div class="col-lg-4 col-offset-4 holder centered">
			<hr/>
			<h4>&{'contact'}</h4>
			<address><a href="mailto:info@moodly.nl">info@moodly.nl</a></address>
			<h4>&{'together_with'}</h4>
			<p>
				Rotterdam open data
			</p>
			<p>
				Gemeente Rotterdam
			</p>
			<p>
				Creating 010
			</p>
			<p>
				Erik van Wesel
			</p>
			<p>
				JP Wesselink
			</p>
			<p>
				<a href="http://www.cloudvps.com" target="_blank" ><img height="33" src="http://www.cloudvps.com/files/styleguide/badge_availability.png" width="323" border="0" /></a>
			</p>
		</div>
	</div>
</div>
#{form action: @Application.vote(), id:'f'}
<input name="value" type="hidden" id="h">
</div>
<input name="lng" type="hidden" id="lng">
</div>
<input name="lat" type="hidden" id="lat">
</div>

#{/form}


