#{extends 'main.html'/}
<script type="text/javascript" src="@{'/public/scripts/require.js'}"></script>
<script type="text/javascript" src="@{RequireJS.config()}"></script>
<script type="text/javascript" src="@{RequireJS.main()}"></script>
#{i18n/}
<script type="text/xhtml" id="infoboxTemplate">
		<!-- 
	
	<div class="progress" style="height: 50px">
		<div data-bind="text: $data.name">123</div>
		<div data-bind="text: $data.title">123</div>
		<div class="progress-bar progress-bar-danger" style="width: <%= percentages[0] %>%"></div>
		<div class="progress-bar progress-bar-info" style="width: <%= percentages[1] %>%"></div>
		<div class="progress-bar progress-bar-warning" style="width: <%= percentages[2] %>%"></div>
		<div class="progress-bar progress-bar-success" style="width: <%= percentages[3] %>%"></div>
	</div>
		-->
</script>
<script type="text/xhtml" id="locationTemplate">
<div class="span3">
	<div class="thumbnail" data-bind="click: function(){ var marker = $root.markerCache.get($data.slug)(); if(marker){ $root.map.setZoom(17);$root.map.panTo(marker.position);$root.map.setCenter(marker.position);}}">
		<h3><%= $data.name %></h3>
		<dl class="dl-horizontal">
        <% _.each($data.percentages, function (percentage, key){ %>
			<dt><%= i18n('description.sentiment.' + key) %></dt>
            <dd><%= Math.round(percentage * 100)/100  %></dd>
		<% }); %>
		</dl>
		<div class="img-thumbnail">
			<div data-bind="peity : { valueMap: $data.percentages, config : { diameter: 40, colours : ['#ff0613', '#0090ff', '#00ff71', '#ffff00']  }}"></div>
		</div>
		<div class="progress">
		<% _.each(['danger', 'info', 'success', 'warning'], function(subClass, index){ %>
			<div class="progress-bar progress-bar-<%=subClass%>" style="width: <%= $data.percentages[index] %>%"></div>
		<% }); %>
		</div>
	</div>
	<br/>
</div>
</script>

<!-- 
	logo + punchline	
-->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="marketing">
				<i class="icon icon-moodly whitish jumbo"></i>
				<p class="punchline">&{'how_do_you_feel_today_question'}</p>
				<p class="today">- ${request.date.format('EEEE d MMMM yyyy')} -</small>
			</div>
		</div>
	</div>
</div>

<!--
	no geo 
-->
<!-- ko if: !hasGeoEnabled() -->
<div class="container-fluid">
	<div class="alert alert-warning alert-block">
		<h4>&{'geo.disabled'}</h4>
		<p>&{'geo.disabled_explanation'}</p>
	</div>
</div>
<!-- /ko -->
<!--
	map, voting and percentage bar
-->
<div class="container-fluid">
	<div class="row-fluid map-and-votes">
		<!-- 
			votes 
		-->
		<div class="span2 votes-span pull-right">
			<!-- ko if: hasGeoEnabled() -->
			<div class="votes" data-bind="foreach: { data: moods, as: 'mood'}">
				<div class="vote" data-bind="css : 'mood-' + mood">
					<i class="icon icon-huge" data-bind="css : 'icon-mood-'+mood, click : function(){ $root.vote($index())}"></i>
				</div>
			</div>
			<!-- /ko -->
			<!-- ko if: !hasGeoEnabled() -->
			<p>&{'geo.disabled_explanation'}</p>
			<!-- /ko -->
		</div>
		<!-- 
			map 
		-->
		<div class="span10 map-span">
			<div class="map">
				<div id="map-canvas" style="height: 100%; width: 100%;"></div>
			</div>
			<div data-bind="foreach: markers.values()">
				<div data-bind="mapMarker : { map: $root.map, markerClusterer: $root.markerClusterer, location: $data }">
					
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<br/>
		<br/>
	</div>
	<!-- 
		percentage bar 
	-->
	<div class="row-fluid votes-percentage-bar">
		<div class="progress" data-bind="foreach: moods">
			<div class="progress-bar" style="margin: 0; padding: 0" data-bind="style : { 
				width: $root.widthPercentages()[$index()] + '%'}, 
				css : 'progress-bar-'+$root.types()[$index()]
			"><span data-bind="text: $root.percentages.get($index())() + '%'"></span></div>
		</div>
	</div>
</div>

<!--
	what the heck is moodly?
-->
<div class="container-fluid about-moodly">
	<div class="row-fluid">
		<div class="span12 gray holder">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>&{'about_moodly_title'}</h1>
						<hr/>
					</div>
				</div>
				<div class="row">
					<div class="span8 offset4">
						<p>
							#{samuel1/}
						</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1 class="pull-right">
							&{'why_moodly_title'}
						</h1>
						<div class="clearfix"></div>
						<hr/>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<p>
							#{samuel2/}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
	what is moodly meter?
-->
<div class="container-fluid moodly-meter">
	<div class="row-fluid">
		<div class="span12 holder">
			<div class="container">
				<div class="row centered">
					<h1>&{'moodly_meter_title'}</h1>
				</div>
				<div class="row">
					<div class="span6">
					<p>
						#{samuel3/}
					</p>
					</div>
					<div class="span6">
					<p>
						#{samuel1/}
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
	footer 
-->
<div class="container footer">
	<div class="row-fluid">
		<div class="span4 offset4 holder centered">
			<hr/>
			<h4>&{'contact'}</h4>
			<address><a href="mailto:info@moodly.nl">info@moodly.nl</a></address>
			<h4>&{'together_with'}</h4>
			<p>
				Rotterdam open data
			</p>
			<p>
				Gemeente Rotterdam
			</p>
			<p>
				Creating 010
			</p>
			<p>
				Erik van Wesel
			</p>
			<p>
				JP Wesselink
			</p>
		</div>
	</div>
</div>
#{form action: @Application.vote(), id:'f'}
<input name="value" type="hidden" id="h">
</div>
<input name="lng" type="hidden" id="lng">
</div>
<input name="lat" type="hidden" id="lat">
</div>

#{/form}


