#{extends 'main.html'/}
<script type="text/javascript" src="@{'/public/scripts/require.js'}"></script>
<script type="text/javascript" src="@{RequireJS.config()}"></script>
<script type="text/javascript" src="@{RequireJS.main()}"></script>
#{i18n/}
<script type="text/xhtml" id="infoboxTemplate">
		<!-- 
	
	<div class="progress" style="height: 50px">
		<div data-bind="text: $data.name">123</div>
		<div data-bind="text: $data.title">123</div>
		<div class="progress-bar progress-bar-danger" style="width: <%= percentages[0] %>%"></div>
		<div class="progress-bar progress-bar-info" style="width: <%= percentages[1] %>%"></div>
		<div class="progress-bar progress-bar-warning" style="width: <%= percentages[2] %>%"></div>
		<div class="progress-bar progress-bar-success" style="width: <%= percentages[3] %>%"></div>
	</div>
		-->
</script>
<script type="text/xhtml" id="locationTemplate">
<div class="span3">
	<div class="thumbnail" data-bind="click: function(){ var marker = $root.markerCache.get($data.slug)(); if(marker){ $root.map.setZoom(17);$root.map.panTo(marker.position);$root.map.setCenter(marker.position);}}">
		<h3><%= $data.name %></h3>
		<dl class="dl-horizontal">
        <% _.each($data.percentages, function (percentage, key){ %>
			<dt><%= i18n('description.sentiment.' + key) %></dt>
            <dd><%= Math.round(percentage * 100)/100  %></dd>
		<% }); %>
		</dl>
		<div class="img-thumbnail">
			<div data-bind="peity : { valueMap: $data.percentages, config : { diameter: 40, colours : ['#ff0613', '#0090ff', '#00ff71', '#ffff00']  }}"></div>
		</div>
		<div class="progress">
		<% _.each(['danger', 'info', 'success', 'warning'], function(subClass, index){ %>
			<div class="progress-bar progress-bar-<%=subClass%>" style="width: <%= $data.percentages[index] %>%"></div>
		<% }); %>
		</div>
	</div>
	<br/>
</div>
</script>
<!-- 
	logo + punchline	
-->
<div class="container">
	<div class="row">
		<div class="span12">
			<center>
				<i class="icon icon-moodly whitish jumbo"></i>
				<h3>&{'how_do_you_feel_today_question'}</h3>
			</center>
		</div>
	</div>
</div>
<!--
	map, voting and percentage bar
-->
<div class="container-fluid">
	<div class="row map-and-votes">
		<!-- 
			map 
		-->
		<div class="span9 map-span">
			<div class="map">
				<div id="map-canvas" style="height: 100%; width: 100%;"></div>
			</div>
			<div data-bind="foreach: markers.values()">
				<div data-bind="mapMarker : { map: $root.map, markerClusterer: $root.markerClusterer, location: $data }">
					
				</div>
			</div>
		</div>
		<!-- 
			votes 
		-->
		<div class="span3 votes-span">
			<div class="votes" data-bind="foreach: { data: moods, as: 'mood'}">
				<div class="vote" data-bind="css : 'mood-' + mood"></div>
			</div>
		</div>
	</div>
	<!-- 
		progress bar 
	-->
	<div class="row">
		<div class="progress" data-bind="foreach: moods">
			<div class="progress-bar" data-bind="style : { width: $root.percentages.get($index())() + '%'}, css : 'progress-bar-'+$root.types()[$index()]"><span data-bind="text: $root.percentages.get($index())() + '%'"></span></div>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
#{form action: @Application.vote(), id:'f'}
<input name="value" type="hidden" id="h">
</div>
<input name="lng" type="hidden" id="lng">
</div>
<input name="lat" type="hidden" id="lat">
</div>

#{/form}


